In [1]:
import pandas as pd

In [9]:
#read in csv
inflation = pd.read_csv("united_states_inflation_rate_cpi.csv", skiprows=16)
inflation.head()

         date   Inflation Rate (%)   Annual Change
0  1960-12-31               1.4580             NaN NaN
1  1961-12-31               1.0707           -0.39 NaN
2  1962-12-31               1.1988            0.13 NaN
3  1963-12-31               1.2397            0.04 NaN
4  1964-12-31               1.2789            0.04 NaN

In [20]:
# filter for year after 2006
inflation = inflation.loc[inflation["date"] > "2006"]

In [23]:
# obtain only the year
new_date = []
for date in inflation["date"]:
    new_date.append(date[:4])
inflation["date"] = new_date

In [24]:
# to csv
inflation.to_csv("inflation.csv")