In [2]:
# import dependencies 
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import datetime as dt
from webdriver_manager.chrome import ChromeDriverManager
import time
import numpy as np
import os
import random

In [3]:

# open browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 104.0.5112
Get LATEST chromedriver version for 104.0.5112 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/104.0.5112.79/chromedriver_mac64.zip
Driver has been saved in cache [/Users/evanbruno/.wdm/drivers/chromedriver/mac64/104.0.5112.79]

In [4]:
url = "http://www.laalmanac.com/economy/ec37.php"
browser.visit(url)

In [5]:
html = browser.html
test = soup(html, 'html.parser')

In [24]:
counties = []
for i in test.find("thead").find_all("th")[1:]:
    counties.append(i.get_text())

In [19]:
data = {}
for row in test.find_all("tbody")[0].find_all("tr"):
    year = row.find(class_="text-left").get_text()
    data[year] = []
    for td in row.find_all("td")[1:]:
        data[year].append(td.get_text())

In [20]:
data

{'2022*': ['$860,230',
  '$1,265,000',
  '$930,000',
  '$490,000',
  '$645,000',
  '$950,000',
  '$1,250,000'],
 '2021': ['$826,500',
  '$1,182,500',
  '$850,000',
  '$460,000',
  '$586,000',
  '$836,700',
  '$937,500'],
 '2020': ['$660,000',
  '$950,000',
  '$740,000',
  '$378,500',
  '$488,250',
  '$730,000',
  '$970,000'],
 '2019': ['$641,340',
  '$840,000',
  '$657,000',
  '$320,000',
  '$420,000',
  '$655,000',
  '$770,000'],
 '2018': ['$588,140',
  '$785,000',
  '$640,000',
  '$295,000',
  '$398,000',
  '$618,500',
  '$840,000']}

In [25]:
pd.DataFrame.from_dict(data, orient = "index", columns=counties)

,Los Angeles County,Orange County,Ventura County,San Bernardino County,Riverside County,San Diego County,Santa Barbara County
2022*,"$860,230","$1,265,000","$930,000","$490,000","$645,000","$950,000","$1,250,000"
2021,"$826,500","$1,182,500","$850,000","$460,000","$586,000","$836,700","$937,500"
2020,"$660,000","$950,000","$740,000","$378,500","$488,250","$730,000","$970,000"
2019,"$641,340","$840,000","$657,000","$320,000","$420,000","$655,000","$770,000"
2018,"$588,140","$785,000","$640,000","$295,000","$398,000","$618,500","$840,000"