In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("Housing_LA.csv")
housing.head()

,Unnamed: 0,Los Angeles County,Orange County,Ventura County,San Bernardino County,Riverside County,San Diego County,Santa Barbara County
0,2022*,"$860,230","$1,265,000","$930,000","$490,000","$645,000","$950,000","$1,250,000"
1,2021,"$826,500","$1,182,500","$850,000","$460,000","$586,000","$836,700","$937,500"
2,2020,"$660,000","$950,000","$740,000","$378,500","$488,250","$730,000","$970,000"
3,2019,"$641,340","$840,000","$657,000","$320,000","$420,000","$655,000","$770,000"
4,2018,"$588,140","$785,000","$640,000","$295,000","$398,000","$618,500","$840,000"